<h1>Editing student_library</h1>

<%= render 'form' %>

<%= link_to 'Show', [@student_library.faculty, @student_library] %> |
<%= link_to 'Back', faculty_student_libraries_path(@student_library.faculty) %>
